.Event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 50px 0;
}

.left {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 20px;
  place-items: center;
}

.left .leftTop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
}

.left .leftBot {
  display: flex;
}

.leftTop > h1 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-size: 4rem;
}

.functions {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.functions > button {
  border-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.leftTop > section {
  margin-bottom: 1rem;
}

.leftTop > section > .title {
  font-size: 1rem;
}

.right {
  /* border: 1px solid var(--event-background-color); */
}
