.containerDiv {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: var(--event-functionalities-div-height);
}

.eventBtn,
.manageEventBtn,
.leaveEventBtn {
  border-style: none;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 40px;
  width: 200px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  color: var(--font-color-secondary);
}

.eventBtn:hover,
.manageEventBtn:hover,
.leaveEventBtn:hover {
  transform: scale(1.05);
}

.addToCart,
.manageEventBtn {
  background-color: var(--background-color-flavor);
}

.leaveEventBtn {
  background-color: var(--background-color-medium);
}

.addedToCart {
  background-color: var(--background-color-dark);
  color: var(--font-color-tertiary);
}

.joinEventBtn {
  background-color: var(--background-color-medium);
}

@media screen and (max-width: 750px) {
  .containerDiv {
    flex-direction: column;
  }
}
