.joinersDiv {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.joinerProfilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgb(100, 100, 100);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.joinerProfilePic img {
  border-radius: 50%;
}
