.Event {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.left > h1 {
    font-size: 4rem;
}

.left > section {
    margin-bottom: 1rem;
}

.left > section > .title {
    font-size: 2rem;
}

.right {
    border: 1px solid var(--event-background-color);
    height: 400px;
    width: 400px;
}


.functions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventCategory {
    width: 100px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--background-color-flavor);
    font-size: 0.5rem;
}