.Footer {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: var(--background-color-medium);
  padding: 50px;
  color: var(--font-color-secondary);
}

.Footer a {
  color: var(--font-color-primary);
  text-decoration: underline;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  width: 30px;
  height: 30px;
}
