body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-extraLight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* Define Global CSS Variables here */
:root {
  --main-padding: 20px;
  --event-background-color: rgba(0, 0, 0, 0.1);
  --background-color-flavor: rgb(189, 243, 189);
  --background-color-extraLight: rgb(250, 250, 250);
  --background-color-light: rgb(230, 230, 230);
  --background-color-medium: rgb(239, 238, 238);
  --background-color-dark: black;
  --border-color-light: grey;
  --font-color-primary: black;
  --font-color-secondary: rgb(53, 53, 53);
  --font-color-tertiary: white;
  --event-functionalities-div-height: 100px;
  --event-joiner-div-height: 100px;
}

.dark {
  --background-color-flavor: rgb(182, 76, 164);
  --background-color-extraLight: rgb(71, 71, 71);
  --background-color-light: rgb(52, 52, 52);
  --background-color-medium: rgb(47, 47, 47);
  --background-color-dark: rgb(255, 255, 255);
  --border-color-light: grey;
  --font-color-primary: rgb(255, 255, 255);
  --font-color-secondary: rgb(202, 202, 202);
  --font-color-tertiary: rgb(0, 0, 0);
}
