.Header nav a {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.Header {
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Header .nav-utilities {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header .nav-utilities button {
    border-style: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.signup-btn {
    background-color: black;
    color: white;
}

.login-btn {
    background-color: var(--background-color-flavor);
}

.Header .nav-utilities button:hover {
    opacity: 0.8;
}

.Header a {
    text-decoration: none;
    color: inherit;
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border: 0.5px solid var(--border-color-light);
    border-radius: 50%;
}

.profile-image img {
    border-radius: 50%;
}