.Header nav a {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.Header {
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-extraLight);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  color: var(--font-color-primary);
}

.Header .nav-utilities {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Header .nav-utilities button {
  border-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.Header .nav-utilities button:hover {
  opacity: 0.8;
}

.Header a {
  text-decoration: none;
  color: inherit;
}

.user-greeting {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font-color-secondary);
}

.profile-image {
  width: 30px;
  height: 30px;
  border: 0.5px solid var(--border-color-light);
  border-radius: 50%;
}

.profile-image img {
  border-radius: 50%;
}

.mobileDevice {
  display: none;
  font-size: 1rem;
  transition: all 0.3s;
}

.sideMenu {
  border: 0.5px solid var(--background-color-medium);
  position: fixed;
  right: 0;
  margin-top: 60px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--background-color-extraLight);
  color: var(--font-color-secondary);
}

.hamburgerMenu {
  font-size: 2rem;
  color: var(--font-color-primary);
}

.sideMenu a,
.sideMenu span {
  padding: 20px;
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.userGreetingSideMenu {
  display: none;
  background-color: var(--background-color-light);
  padding: 5px;
}

.userGreetingSideMenu .profile-image {
  width: 50px;
  height: 50px;
}

.userGreetingSideMenu span {
  padding: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: auto;
}

.guestGreeting {
  padding: 20px;
  text-align: center;
  color: var(--font-color-primary);
}

@media screen and (max-width: 800px) {
  .Header .nav-utilities {
    display: none;
  }

  .Header .mobileDevice {
    display: flex;
    gap: 10px;
  }

  .userGreetingSideMenu {
    display: flex;
    flex-direction: column;
  }
}
