.buttons {
  display: flex;
  gap: 10px;
  align-self: end;
}

.buttons button {
  border-style: none;
  width: 200px;
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

/* learning lazy loading */
.lazy {
  padding: 20px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lazy_div {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lazy_div--loaded {
  opacity: 1;
  visibility: visible;
}

.header {
  text-align: center;
  padding: 50px 0;
  margin: 0;
  /* font-family: "Dancing Script", cursive; */
  color: var(--font-color-primary);
  font-size: 4rem;
  opacity: 0;
  visibility: hidden;
  /* -webkit-transition: 1s linear; */
  /* transition: 1s linear; */
}

.header--loaded {
  opacity: 1;
  visibility: visible;
}

.subheader {
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  /* font-family: "Dancing Script", cursive; */
  color: var(--font-color-secondary);
  /* -webkit-transition: 0.5s linear; */
  /* transition: 0.5s linear; */
  display: flex;
  flex-direction: column;
}

.subheader--loaded {
  opacity: 1;
  visibility: visible;
}

.viewEventsBtn {
  background-color: var(--background-color-dark);
  color: var(--font-color-tertiary);
}

.viewEventsBtn a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
}

@media screen and (min-width: 1px) and (max-width: 750px) {
  .subheader {
    flex-direction: column;
  }

  .buttons {
    flex-direction: column;
  }
}
