.Home {
    padding: 0 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.header {
    text-align: center;
    padding: 50px 0;
    font-family: 'Dancing Script', cursive;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: center; */
}

.searchParams {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.searchParams > div {
    width: 100px;
    background-color: var(--background-color-light);
    text-align: center;
    padding: 20px 40px;
    border-radius: 40px;
    border: 0.5px solid var(--border-color-light);
}

.searchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-medium);
    padding: 40px;
}

.searchDiv > button {
    border-radius: 40px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    background-color: var(--background-color-light);
    border-style: none;
    padding: 10px 100px;
    font-size: 2rem;
}

.event-card-display-container {
    padding: 50px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
}

.event-card-display h1 {
    margin: 0;
}

.event-card-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    background-color: white;
    align-items: center;
    justify-items: center;
    width: 400px;
    color: var(--font-color-secondary);
    cursor: pointer;
    transition: all 0.3s;
}

.event-card-display:hover {
    transform: scale(1.02);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    background-color: var(--background-color-light);
}

.event-title {
    color: var(--font-color-primary);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;
    font-size: 1.5rem;
}

.event-image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    /* background-color: var(--event-background-color); */
    border: 1px solid var(--event-background-color);
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
}

.event-image > img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.eventCategory {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--background-color-flavor);
    font-size: 0.5rem;
}

/* .eventProvider {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end;
} */

.eventLocation {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
}

.eventDate {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
}