.signup-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.signup-title {
  margin: 0;
  font-size: 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.signup-form > label {
  font-size: 1rem;
}

.signup-form > input {
  caret-color: blue;
  border-style: none;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 5px 10px;
  width: 300px; /* to change */
  color: var(--font-color-secondary);
  /* border: 0.5px solid rgba(0,0,0,0.5); */
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
.signup-form > input:focus {
  outline: none;
}

.signup-form > button {
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
  width: auto;
  font-size: 1.5rem;
  background-color: var(--background-color-dark);
  color: var(--font-color-tertiary);
  transition: all 0.2s;
}

.signup-form > button:hover {
  background-color: var(--background-color-flavor);
  color: var(--font-color-primary);
}

.forget-password-link a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-weight: 500;
}

.forget-password-link a:hover {
  text-decoration: underline;
}

.sign-up-link {
  color: var(--font-color-secondary);
}

.sign-up-link a {
  text-decoration: none;
  color: var(--font-color-primary);
  font-weight: 500;
}

.sign-up-link a:hover {
  text-decoration: underline;
}

.rolePicker {
  width: 200px;
  padding: 15px;
  background-color: var(--background-color-flavor);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-style: none;
  border-radius: 40px;
  text-align: center;
  font-size: 1.25rem;
}
