.Main {
  flex: 1;
  background-color: var(--background-color-extraLight);
}

.event-cards {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.event-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: var(--main-padding);
  background-color: white;
}

.event-function-btn-container {
  display: flex;
  gap: 5px;
}

.eventsContainer {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.events-header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: var(--main-padding);
}

.events-header > h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

#add-event-btn {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s;
}

#add-event-btn:hover {
  transform: scale(1.1);
}

.edit-event-btn,
.delete-event-btn {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s;
}

.consumerEventsContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.consumerEventDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-color-light);
  width: 300px; /* to be updated */
  height: 300px; /* to be updated */
  transition: all 0.3s;
  font-size: 2rem;
  text-align: center;
}

.consumerEventDiv:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 750px) {
  .consumerEventsContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .consumerEventDiv {
    width: 200px;
    height: 200px;
  }
}
