.Header {
    flex: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
}

.Header .nav-utilities {
    display: flex;
    gap: 10px;
}