.Home {
    flex: 1;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.event-card-display-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.event-card-display h1 {
    margin: 0;
}

.event-card-display {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 20px;
    background-color: white;
}

.event-image {
    background-color: rgba(0,0,0,0.05);
    height: 400px;
    width: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.event-image > img {
    max-height: 100%;
    max-width: 100%;
    /* object-fit: cover; */
}