.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2 {
    margin: 0;
}

.signup-form {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    border: 0.5px solid rgba(0,0,0,0.3);
    padding: 20px;
}

.signup-form > input {
    border: 0.5px solid rgba(0,0,0,0.5);
}

.signup-form > button {
    border-style: none;
    padding: 5px 10px;
    cursor: pointer;
}